/**
  |============================
  | Block 1
  |============================
*/
:root {
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* text color */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --white-txt-cl: #ffffff;
  --descr-txt-cl: #757575;
  --foot-txt-cl: rgba(255, 255, 255, 0.6);
  --placeholder-txt-cl: rgba(117, 117, 117, 0.5);
  /* bg colors */
  --white-bg-cl: #ffffff;
  --light-bg-cl: #f5f4fa;
  --dark-bg-cl: #2f303a;
  --accent-bg-cl: #2196f3;
  --btn-bg-cl: #188ce8;
  --icon-bg-cl: #afb1b8;
  --dark-icon-bg-cl: rgba(255, 255, 255, 0.1);
  --dark-dec-bg-cl: rgba(47, 48, 58, 0.8);
  --modal-bg-cl: rgba(0, 0, 0, 0.2);
  --overlay-bg-cl: rgba(33, 150, 243, 0.9);
  /* border colors */
  --border-head-cl: #ececec;
  --border-card-cl: #eeeeee;
  --border-foot-cl: rgba(255, 255, 255, 0.3);
  --border-form-cl: rgba(33, 33, 33, 0.2);
  --timing-fuction: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background-color: var(--white-bg-cl);
}

.no-scroll {
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.nav__logo {
  color: #000000;
  margin-right: 93px;
}

.web {
  color: var(--accent-txt-cl);
}

.footer__logo {
  color: var(--white-txt-cl);
  margin-bottom: 20px;
}

.nav__logo,
.footer__logo,
.web {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  color: var(--main-txt-cl);
  margin-bottom: 50px;
  text-align: center;
}

.header {
  border-bottom: 1px solid var(--border-head-cl);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-contacts__icon-mail {
  width: 16px;
  height: 12px;
}

.header-contacts__icon-phone {
  width: 10px;
  height: 16px;
}

.header-contacts__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--descr-txt-cl);
  padding-top: 32px;
  padding-bottom: 31px;
  -webkit-transition: color 250ms var(--timing-fuction);
  transition: color 250ms var(--timing-fuction);
}
.header-contacts__mail:hover, .header-contacts__mail:focus {
  color: var(--accent-txt-cl);
}

.header-contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--descr-txt-cl);
  padding-top: 32px;
  padding-bottom: 31px;
  -webkit-transition: color 250ms var(--timing-fuction);
  transition: color 250ms var(--timing-fuction);
}
.header-contacts__phone:hover, .header-contacts__phone:focus {
  color: var(--accent-txt-cl);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 31px;
  display: block;
  -webkit-transition: color 250ms var(--timing-fuction);
  transition: color 250ms var(--timing-fuction);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-txt-cl);
}
.nav__link--current {
  color: var(--accent-txt-cl);
  position: relative;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-bg-cl);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.hero-section {
  background-color: var(--dark-bg-cl);
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-txt-cl);
  width: 696px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.hero-btn {
  min-width: 200px;
  padding: 10px 32px;
  border: none;
  background-color: var(--accent-bg-cl);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-txt-cl);
  -webkit-transition: background-color 250ms var(--timing-fuction);
  transition: background-color 250ms var(--timing-fuction);
}
.hero-btn:hover, .hero-btn:focus {
  background-color: var(--btn-bg-cl);
}/*# sourceMappingURL=main.css.map */